.form-title {
  text-transform: capitalize;
}

.form-container-router {
  font-size: var(--font-size-medium);
}

.form-container-router a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.form-container-router a:hover {
  text-decoration: underline;
}
