.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 20px 0;
  background: var(--green-principal);
}

.footer p {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }

  .footer p {
    padding-left: 0;
  }
}
